<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="Claudio Rodriguez is a Software Architect specializing in Javascript web stacks (Node.JS, Angular, React)">
  <meta name="author" content="Claudio Rodriguez">

  <title>Claudio Rodriguez - Javascript Software Architect, Developer</title>

	<!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>

  <!-- Custom CSS-->
  <link href="css/main.css" rel="stylesheet">

</head>

<body id="home">
	{% block content %}{% endblock %}
</body>

</html>
